Repository JuliaGraphs/GraphNeuralNetworks.jl, pull requests merged in 2024-12, with the labels that each got.

#531 simplify documentation
  .github/workflows/test_GNNGraphs.yml
  .github/workflows/test_GNNLux.yml
  .github/workflows/test_GNNlib.yml
  .github/workflows/test_GraphNeuralNetworks.yml
  .gitignore
  GNNGraphs/docs/make.jl
  GNNGraphs/docs/src/guides/datasets.md
  GNNGraphs/docs/src/guides/gnngraph.md
  GNNGraphs/docs/src/guides/heterograph.md
  GNNGraphs/docs/src/guides/temporalgraph.md
  GNNlib/docs/make.jl
  GNNlib/docs/src/guides/messagepassing.md
  GNNlib/test/msgpass.jl
  GNNlib/test/test_module.jl
  GraphNeuralNetworks/docs/make.jl
  GraphNeuralNetworks/docs/src/datasets.md
  GraphNeuralNetworks/docs/src/gsoc.md
  GraphNeuralNetworks/docs/src/guides/models.md
  GraphNeuralNetworks/docs/src/home.md
  GraphNeuralNetworks/docs/src/index.md
  GraphNeuralNetworks/docs/src/other/dummy.md
  GraphNeuralNetworks/test/layers/conv.jl
  GraphNeuralNetworks/test/test_module.jl
  docs/make-multi.jl
Labels: docs

#540 updates to GNNLux for first release
  GNNGraphs/Project.toml
  GNNLux/LICENSE
  GNNLux/Project.toml
  GNNLux/test/Project.toml
  GNNLux/test/layers/basic.jl
  GNNLux/test/layers/conv.jl
  GNNLux/test/layers/temporalconv.jl
  GNNLux/test/runtests.jl
  GNNLux/test/test_module.jl
Labels: lux, gnngraphs, maintainance

#542 improve GNNLux docs
  .gitignore
  GNNGraphs/docs/make.jl
  GNNLux/docs/Project.toml
  GNNLux/docs/make.jl
  GNNLux/docs/src/api/basic.md
  GNNLux/docs/src/api/conv.md
  GNNLux/docs/src/api/temporalconv.md
  GNNLux/docs/src/guides/models.md
  GNNLux/docs/src/index.md
  GraphNeuralNetworks/docs/make.jl
  GraphNeuralNetworks/docs/src/api/basic.md
  GraphNeuralNetworks/docs/src/api/conv.md
  GraphNeuralNetworks/docs/src/api/heteroconv.md
  GraphNeuralNetworks/docs/src/api/pool.md
  GraphNeuralNetworks/docs/src/api/temporalconv.md
  GraphNeuralNetworks/docs/src/guides/models.md
  GraphNeuralNetworks/docs/src/index.md
Labels: lux

#549 Add `Hands On` tutorial GNNLux
  GNNLux/docs/Project.toml
  GNNLux/docs/make.jl
  GNNLux/docs/make_tutorials.jl
  GNNLux/docs/src/tutorials/gnn_intro.md
  GNNLux/docs/src_tutorials/gnn_intro.jl
Labels: docs, lux

#552 try new approach for building and deploying docs
  .github/workflows/multidocs.yml
  GNNGraphs/docs/Project.toml
  GNNGraphs/docs/make.jl
  GNNGraphs/docs/src/api/datasets.md
  GNNGraphs/docs/src/api/gnngraph.md
  GNNGraphs/docs/src/guides/datasets.md
  GNNLux/docs/make.jl
  GNNlib/docs/Project.toml
  GNNlib/docs/make.jl
  GNNlib/src/msgpass.jl
  GraphNeuralNetworks/docs/make.jl
  docs/Project.toml
  docs/make-multi.jl
Labels: docs

#550 changes for Flux v0.15
  GNNGraphs/Project.toml
  GNNGraphs/src/GNNGraphs.jl
  GNNGraphs/src/datastore.jl
  GNNGraphs/src/gnngraph.jl
  GNNGraphs/src/gnnheterograph/gnnheterograph.jl
  GNNGraphs/src/temporalsnapshotsgnngraph.jl
  GNNGraphs/test/runtests.jl
  GNNLux/Project.toml
  GNNLux/docs/make.jl
  GNNLux/src/layers/conv.jl
  GNNLux/test/runtests.jl
  GNNlib/Project.toml
  GNNlib/docs/make.jl
  GNNlib/src/layers/conv.jl
  GNNlib/src/layers/pool.jl
  GNNlib/test/runtests.jl
  GraphNeuralNetworks/Project.toml
  GraphNeuralNetworks/docs/make.jl
  GraphNeuralNetworks/src/layers/pool.jl
  GraphNeuralNetworks/src/layers/temporalconv.jl
  GraphNeuralNetworks/test/Project.toml
  GraphNeuralNetworks/test/layers/pool.jl
  GraphNeuralNetworks/test/layers/temporalconv.jl
  GraphNeuralNetworks/test/runtests.jl
  GraphNeuralNetworks/test/test_module.jl
Labels: breaking, temporalgraphs, flux

#563 broadcast, iterate, and setindex! for TemporalSnapshotsGNNGraphs
  GNNGraphs/docs/src/guides/temporalgraph.md
  GNNGraphs/src/temporalsnapshotsgnngraph.jl
  GNNGraphs/test/temporalsnapshotsgnngraph.jl
  GNNLux/docs/src_tutorials/gnn_intro.jl
  GraphNeuralNetworks/docs/Project.toml
  GraphNeuralNetworks/docs/make_tutorials_literate.jl
  GraphNeuralNetworks/docs/make_tutorials_pluto.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/temporal_graph_classification.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/traffic_prediction_pluto.jl
  GraphNeuralNetworks/docs/src_tutorials/temporalconv_tutorials/temporal_graph_classification_pluto.jl
Labels: temporalgraphs, gnngraphs

#564 [GNNGraphs] fix show for non-array
  .gitignore
  GNNGraphs/src/gnngraph.jl
  GNNGraphs/test/gnngraph.jl
Labels: gnngraphs

#566 filter labels release diff
  .github/workflows/TagBot.yml
Labels: lux, flux, gnnlib, maintainance

#567 Add `Node Classification` tutorial GNNLux
  GNNLux/docs/Project.toml
  GNNLux/docs/make.jl
  GNNLux/docs/make_tutorials.jl
  GNNLux/docs/src/tutorials/node_classification.md
  GNNLux/docs/src_tutorials/node_classification.jl
Labels: docs, lux

#568 Add `Graph Classification` tutorial
  GNNLux/docs/make.jl
  GNNLux/docs/make_tutorials.jl
  GNNLux/docs/src/api/pool.md
  GNNLux/docs/src/tutorials/graph_classification.md
  GNNLux/docs/src_tutorials/graph_classification.jl
  GNNLux/src/GNNLux.jl
  GNNLux/src/layers/pool.jl
  GNNLux/test/layers/pool.jl
Labels: docs, lux

#570 no constraints on numbers of features gdata for heterographs
  GNNGraphs/Project.toml
  GNNGraphs/src/gnnheterograph/gnnheterograph.jl
  GNNGraphs/test/gnnheterograph.jl
Labels: heterographs, gnngraphs

#569 [GNNFlux] Translate Pluto notebooks to Literate
  GraphNeuralNetworks/docs/make.jl
  GraphNeuralNetworks/docs/make_tutorials_literate.jl
  GraphNeuralNetworks/docs/src/tutorials/gnn_intro.md
  GraphNeuralNetworks/docs/src/tutorials/gnn_intro_pluto.md
  GraphNeuralNetworks/docs/src/tutorials/graph_classification.md
  GraphNeuralNetworks/docs/src/tutorials/graph_classification_pluto.md
  GraphNeuralNetworks/docs/src/tutorials/node_classification.md
  GraphNeuralNetworks/docs/src/tutorials/node_classification_pluto.md
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/gnn_intro.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/gnn_intro_pluto.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/graph_classification.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/graph_classification_pluto.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/node_classification.jl
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/node_classification_pluto.jl
Labels: docs, flux

#573 port GNNGraphs tests to TestItems.jl
  .buildkite/pipeline.yml
  .github/workflows/test_GNNGraphs.yml
  .github/workflows/test_GNNLux.yml
  .github/workflows/test_GNNlib.yml
  .github/workflows/test_GraphNeuralNetworks.yml
  GNNGraphs/Project.toml
  GNNGraphs/docs/make.jl
  GNNGraphs/docs/src/api/gnngraph.md
  GNNGraphs/docs/src/api/samplers.md
  GNNGraphs/src/GNNGraphs.jl
  GNNGraphs/src/samplers.jl
  GNNGraphs/src/sampling.jl
  GNNGraphs/src/temporalsnapshotsgnngraph.jl
  GNNGraphs/test/Project.toml
  GNNGraphs/test/chainrules.jl
  GNNGraphs/test/convert.jl
  GNNGraphs/test/datastore.jl
  GNNGraphs/test/ext/SimpleWeightedGraphs.jl
  GNNGraphs/test/generate.jl
  GNNGraphs/test/gnngraph.jl
  GNNGraphs/test/gnnheterograph.jl
  GNNGraphs/test/mldatasets.jl
  GNNGraphs/test/operators.jl
  GNNGraphs/test/query.jl
  GNNGraphs/test/runtests.jl
  GNNGraphs/test/samplers.jl
  GNNGraphs/test/sampling.jl
  GNNGraphs/test/temporalsnapshotsgnngraph.jl
  GNNGraphs/test/test_module.jl
  GNNGraphs/test/test_utils.jl
  GNNGraphs/test/transform.jl
  GNNGraphs/test/utils.jl
  GNNLux/docs/make.jl
  GNNlib/docs/make.jl
  GraphNeuralNetworks/docs/make.jl
  GraphNeuralNetworks/docs/src/tutorials/gnn_intro.md
  GraphNeuralNetworks/docs/src_tutorials/introductory_tutorials/gnn_intro.jl
  GraphNeuralNetworks/examples/graph_classification_temporalbrains.jl
  GraphNeuralNetworks/notebooks/gnn_intro.ipynb
Labels: gnngraphs, maintainance
