Repository JuliaGraphs/GraphNeuralNetworks.jl, pull requests merged in 2024-11, with the labels that each got.

#515 Add GNNLux docstrings
  GNNLux/docs/make.jl
  GNNLux/docs/src/api/conv.md
  GNNLux/src/layers/conv.jl
Labels: docs, lux

#517 move GraphNeuralNetworks.jl to TestItems.jl
  GraphNeuralNetworks/Project.toml
  GraphNeuralNetworks/test/examples/node_classification_cora.jl
  GraphNeuralNetworks/test/layers/basic.jl
  GraphNeuralNetworks/test/layers/conv.jl
  GraphNeuralNetworks/test/layers/heteroconv.jl
  GraphNeuralNetworks/test/layers/pool.jl
  GraphNeuralNetworks/test/layers/temporalconv.jl
  GraphNeuralNetworks/test/runtests.jl
  GraphNeuralNetworks/test/samplers.jl
  GraphNeuralNetworks/test/test_module.jl
Labels: flux

#520 Remove `preview` docs
  GNNGraphs/docs/make.jl
  GNNLux/docs/make.jl
  GNNlib/docs/make.jl
  GraphNeuralNetworks/docs/make.jl
  tutorials/docs/make.jl
Labels: docs

#521 Add `GNNLux` training example in docs
  GNNLux/docs/make.jl
  GNNLux/docs/src/index.md
Labels: docs, lux

#519 more updates for the tests
  .github/workflows/test_GraphNeuralNetworks.yml
  GNNGraphs/test/test_utils.jl
  GNNlib/src/layers/conv.jl
  GraphNeuralNetworks/Project.toml
  GraphNeuralNetworks/test/examples/node_classification_cora.jl
  GraphNeuralNetworks/test/layers/basic.jl
  GraphNeuralNetworks/test/layers/conv.jl
  GraphNeuralNetworks/test/layers/heteroconv.jl
  GraphNeuralNetworks/test/layers/pool.jl
  GraphNeuralNetworks/test/runtests.jl
  GraphNeuralNetworks/test/test_module.jl
Labels: flux
